/* Element Variables */

// Override Element UI variables

$--color-success: #16A34A;
$--color-danger: #EF4444;
$--color-info: #64748B;
$--button-font-weight: 500;
$--border-color-light: #E5E7EB;
$--border-color-lighter: #EEF2F7;
$--table-border:1px solid #E5E7EB;
$--color-primary:#16A34A;
$--color-warning:#F59E0B;
$--color-text-primary:#111827;
$--color-text-regular:#6B7280;
$--color-text-placeholder:#9CA3AF;
$--border-color-base:#D1D5DB;
$--background-color-base:#F5F7FB;

// Icon font path, required
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// Apply overrided variables in Element UI
@import '~element-ui/packages/theme-chalk/src/index';
