<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.ai.mapper.AiKnowledgeChunkMapper">

    <select id="listByDocumentId" resultType="com.community.entity.AiKnowledgeChunk">
        select * from ai_knowledge_chunk
        where document_id = #{documentId}
        order by chunk_index asc
    </select>

    <insert id="batchInsert">
        insert into ai_knowledge_chunk
        (document_id, chunk_index, chunk_text, vector_doc_id, create_time)
        values
        <foreach collection="chunks" item="chunk" separator=",">
            (#{chunk.documentId}, #{chunk.chunkIndex}, #{chunk.chunkText}, #{chunk.vectorDocId}, #{chunk.createTime})
        </foreach>
    </insert>

    <delete id="deleteByDocumentId">
        delete from ai_knowledge_chunk
        where document_id = #{documentId}
    </delete>
</mapper>
